$brand-color: #000;

body {
  // background: url("../images/tile0.jpg");
  // background-size: 100%;
  // background-repeat:repeat;
  background-color: #FEFBF7; // off white
  font-family: 'Ubuntu', sans-serif !important;
  display: compact;
  a#brand-color { color: $brand-color; }
  div#jumbo {
    padding: 5%;
    border: 1px solid black;
  }
  img.socal-icon {
    //width: 15%;
    width: 40px;
  }
  div.highlight {
    background: #fff;
    padding: 2%;
  }
  div#header_icon {
    background-size: 300px;
    background-position: center center;
    vertical-align: top;
    background-image: url(/images/charlie-1-icon.png);
    background-repeat: no-repeat;
    padding-bottom: 10em;
    padding-top: 10em;
  }
}
