<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="zY7NGd7gWw6Va7anO7weiCXvWTpWqZ23-stUHIDqXQ0" />

    <meta name="twitter:site" content="@cdcooksey" />
    <meta name="twitter:creator" content="@cdcooksey" />

    <meta property=”og:image” content=”https://www.cooksey.io/images/charlie-1-icon.png" />
    <meta property="og:site_name" content="cooksey.io"/>

    <% if current_article %>
    <meta name="keywords" content="<%= current_article.metadata.fetch(:page, {}).fetch(:tags, "") %>">
    <% end %>

    <% if current_page.data.title == 'Charlie Cooksey' %>
      <title><%= current_page.data.title %></title>
      <meta property=”og:title” content=”<%= current_page.data.title %>” />
      <meta name="twitter:card" content="summary"></meta>
      <meta name="description" content="Blog about code and life in Denver, Colorado with Charlie Cooksey">
      <meta property=”og:description” content=”Blog about code and life in Denver, Colorado with Charlie Cooksey” />
    <% else %>
      <title><%= "Charlie Cooksey - #{current_page.data.title}" %></title>
      <meta property=”og:title” content=<%= "Charlie Cooksey - #{current_page.data.title}" %> />
      <meta name="twitter:card" content="summary_large_image"></meta>
      <meta name="description" content="<%= current_page.data.title %>">
      <meta property=”og:description” content=”<%= current_page.data.title %>” />
    <% end %>

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <%= google_analytics_tag %>
  </head>

  <body>
    <div class="container">

      <!-- start "logo" link container -->
      <div class="row">
        <div id="header_icon" class="col col-6">
          <!-- <img src="images/charlie-1-icon.png" /> -->
          &nbsp;
        </div>
        <div class="col col-6 pull-center float-center text-center">
          <a id="brand-color" href="/"><h1><strong>Charlie Cooksey</strong></h1></a>
          <a href="https://www.twitter.com/cdcooksey">Twitter</a>
          <br />
          <a href="https://github.com/cdcooksey">GitHub</a>
          <br />
          <a href="https://www.instagram.com/charlie.cooksey">Instagram</a>
        </div>
      </div>
      <!-- ends "logo" link container -->

      <br />

      <!-- start "header box" row container -->
      <div class="row">
        <div class="col col-1"></div>
        <div class="col col-10 text-center">
          Ahoy! I'm a full stack backend-leaning software developer based in
          Denver, Coloardo. I occasionally post random things here -- usually
          about projects or blogs about code.
          <hr class="my-4">
        </div>
        <div class="col col-1"></div>
      </div>
      <!-- end "header box" row container -->

      <div class="row">
        <div class="col col-12">
          <br />
          <%= yield %>
        </div>

        <!-- begin article history list -->
        <div class="col col-12 article-list">
          <hr class="my-4">
          <ul>
            <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
                <dl>
                  <h5><%= year %></h5>
                  <ul>
                    <% articles.each do |article| %>
                        <li><a rel="canonical" href="<%= article.url %>"><%= article.title %></a></li>
                    <% end %>
                  </ul>
                </dl>
            <% end %>
          </ul>
        </div>
        <!-- end article history list -->

      </div>

    </div>

    <br />
    <hr />
    <footer class="footer">
      <div class="container">
        <span class="text-muted">
          <%= link_to 'cooksey.io', '/', relative: true %><br />
          Compiled on <%= Time.now %> <br />
          Powered by <a href="https://middlemanapp.com">Middleman</a>, AWS EC2, and <a href="github.com">GitHub</a>.
          <br />
          <br />
          <br />
        </span>
      </div>
    </footer>
  </body>
</html>
