---
title: Charlie Cooksey
---
<div class="row">
  <div class="col col-12">

    <% blog.articles[0...9].each do |article| %>

        <div class="container">
          <div class="row">
            <div class="col col-12">
              <h2>
                <strong>
                  <%= link_to article.title, article.path, { 'rel' => 'canonical' } %>
                </strong>
              </h2>
            </div>
          </div>

          <div class="row">
            <div class="col col-12">
              <small><%= article.date.strftime('%b %e %Y') %></small>
            </div>
          </div>

          <div class="row">
            <div class="col col-12">
              <%= article.summary %>
            </div>
          </div>

          <div class="row">
            <div class="col col-12">
              <a href="<%= article.url %>">Read more</a>
            </div>
          </div>
        </div>

        <hr />

    <% end %>

  </div>
</div>
